body {
    margin: 20px;
    font-family: Garamond, 'Times New Roman', Times, serif;
    font-size:1;
    background-color: #03071E;
    
}

.avatar {
    width: 150px;
}

.card {
    width: 500px;
    margin: 0 auto;
    padding: 20px 22px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    color: #2b2839;
    background-image: url("images/Business_card.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.card-wrapper{
    max-width: 500px;
    margin: auto;
    background: linear-gradient(to right, #F48C06, #E85D04);
    padding: 3px;
    display: flex;
}
.info{
    
    flex: 100%;
    padding-right: 30%;
    
}
.info h1{
    margin: 0;
    font-size:32px;
    background: -webkit-linear-gradient(45deg, #FFBA08, #E85D04);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.info h2{
    font-size:25px;
    margin: 0;
    color: #ffff;
}
.info p{
    font-size: 16px;
    color: #ffff;

}

.location{
   color: #ffff;
}
.location h4{
    font-size: 18px;
}

.links{

    display:inline-flex;
    justify-content: flex-end;
    flex: 100%;
    
}

.links a{
    background: #E85D04;
    padding: 5px; 
    border-radius: 100px;
    margin-left: 5px; 
}
.links .fa-brands{
   font-size: 20px;
   text-align: center;
}
.links a:hover{
    background-color: #03071e;
    color: #E85D04;
    border: 1px solid #E85D04;
}
